{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center mt-5 mb-5">Welcom to my Site</h1>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Costomer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/costomer" class="btn btn-warning">Costomer Page</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Courier Page</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/courier" class="btn btn-warning">Courier Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}